@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

body.offcanvas-active{
	overflow:hidden;
}
.offcanvas-header{ display:none; }

@media (max-width: 992px) {
  .offcanvas-header{ display:block; }
  .navbar-collapse {
    position: fixed;
    top:0; 
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: black;
    transition: visibility .2s ease-in-out, transform .2s ease-in-out;
  }
  .navbar-collapse.show {
    visibility: visible;
    transform: translateX(-100%);
  }
}
/* ================navi ================== */
.navbar{
    padding: 15px;
}
.navbar-brand>svg{
   width: 120px;
}
.py-2{
    width: 100px;
}

body{
  font-family: 'Noto Sans KR', sans-serif;
}
.navbar-nav>.nav-item>.nav-link:hover{
  color:#7F988F;
}
.navbar-nav>.nav-item>.nav-link {
transition: all 1s;
}
*, ::after, ::before {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
#hero {
  width: 100%;
  height: 100vh;
  background: url(../images/banner-img03.jpg) top center;
  background-size: cover;
  position: relative;
  z-index: 1 !important;
}
section {
  overflow: hidden;
}
#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  z-index: -10;
}
#hero h1 {
  margin: 30px 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Viga', sans-serif !important;
}
#hero p{
  color: #fff;
  line-height: 25px;
}
#hero .btn-get-started {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}
#hero>.hero-container>.btn-get-started:hover{
  background: #7F988F;
}
.hero-container>h1:hover{
  color: #7F988F;
}
#introduce{
background: #fff;
padding: 80px 0;
}
#about {
  background: #fff;
  padding: 80px 0;
}
.bg-black{
background: white;
}
@media (min-width: 1024px){
#hero {
  background-attachment: fixed;
  z-index: -1;
}
#call-to-action {
  background-attachment: scroll;
}
}
@media (max-width: 768px){

#hero h1 {
    font-size: 28px;
    line-height: 36px;
}
}
#main{
  font-family: 'Viga', sans-serif !important;
}
.navbar-brand>img{
  width: 110px;
}
/* =======menu-pc end========= */
.py-2>img{
  width: 100px;
}
#main_nav{
  background: white;
}
/* ======menu-offcanvas end====== */
#myVideo{
  width: 60%;
}
#info-box{
  background: white;
  padding: 20px;
}
#main .title{
  font-size: 50px;
}
.br{
  display: none;
}
@media(max-width:400px){
  .br{
    display: block;
  }
  #hero .btn-get-started {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 6px 22px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
  }
}
footer{
  background: rgb(43, 43, 43);
  margin: 0 auto;
  padding: 80px 0;
  color: #fff;
  font-weight: 100;
}

.footer-info>ul{
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
}
.footer-info>ul>li>a{
  font-family: 'Noto Sans KR', sans-serif;
  color: white;
  font-weight: 400;
  text-decoration: none;
}
.copyright{
  font-size: 13px;
}
.copyright>ul>li>a{
  font-family: 'Noto Sans KR', sans-serif;
  color: white;
  font-weight: 400;
  list-style: none;
  text-decoration: none;
}
.footer-menu-R>ul>li>a{
  color: white;
  list-style: none;
  text-decoration: none;
  font-size: 23px;
}